{% extends 'base.html' %}
{% load static %}
{% block content %}
      <section>
         <article>
         <div class="row">
            <div class="column">  
            {% if items %}
               {% for item in items %}
               <p> <a href="{% url 'frontend:item_detail_ui' item.pk %} ">{{ item.title }}</a> <span class="menu-price"> £{{item.price}} </span> </p>
               {% endfor %}
            {% else %}
               No Menu
            {% endif %}
            </div>
         </div>
         </article>
      <section>
{% endblock %}